---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');

const pageTitle = "blog";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>today i pooped on a cat totoally awesome!</h2>
    
    <ul>
			{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
    </ul>
</BaseLayout>
